{% extends "MasterTrainingBundle:Blog:sidebarLayout.html.twig" %}

{% block meta %}
    <meta charset="utf-8">
{% endblock %}

{% block title %}
	Lista rejestracji | {{ parent() }}
{% endblock %}

{% block contentContainer %}
	<article class="col-md-8">
		<h1>Lista rejestracji</h1>
		
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
    				<th>Id</th>
    				<th>Imię i nazwisko</th>
    				<th>Kraj</th>
    				<th>Kurs</th>
    				<th>Akcje</th>
				<tr>
			</thead>
			<tbody>
			
				{% for entry in rows %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.name }}</td>
					<td>{{ entry.country }}</td>
					<td>{{ entry.course  }}</td>
					<td>
						{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path("master_blog_admin_details", {'id': entry.id}) }}" class="btn-sm btn-info">Zobacz szczegóły</a>
						<a href="{{ path("master_blog_admin_delete", {'id': entry.id}) }}" class="btn-sm btn-danger">Usuń</a>
						{% else %}
							Nie posiadasz żadnych akcji
						{% endif %}
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="5">Brak rejestracji</td>
				</tr>
				{% endfor %}
			
			</tbody>
			
		</table>
		<hr>
		<h4>Zalogowany jako: {{ app.user.username }}</h4>
		{# <h6>Posiadane role: {{ app.user.roles|join(", ") }}</h6> #}
	</article>
{% endblock %}
